@CHARSET "ISO-8859-1";

/* Sticky footer styles
-------------------------------------------------- */
#footer {

	bottom: 0;
	width: 100%;
	height: 70px;
	background-color: #f5f5f5;
}

#header {
	height: 110px;
	width: 100%;
}

#fondActivite {
	height: 110px;
	width: 120px;
	float: left;
	background-color: cadetblue;
}

#content {
	
}
/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
.container {
	width: auto;
	max-width: 680px;
	padding: 0 15px;
}

.container .text-muted {
	margin: 20px 0;
}

#activite {
	float: left;
	padding-top: 34%;
	padding-left: 16px;
}

#inscription {
	float: left;
	width: auto;
	padding-top: 6%;
}

#inscription a {
	color: black;
}

#buttonAjout {
	background: url(../img/add.png) no-repeat left;
	padding-left: 14px;
	padding-top: 3px;
	border: none;
}

#connexion {
	width: 176px;
	height: auto;
	float: left;
	padding-left: 20px;
}

#connexion #login {
	height: auto;
	width: auto;
	float: left;
}

#connexion #pwd {
	height: auto;
	width: auto;
	margin-top: 10px;
}

#connexion #buttonConnexion {
	height: auto;
	width: auto;
	float: right;
	margin-top: 10px;
	background: url(../img/valider.png) no-repeat left;
	padding-left: 22px;
	padding-top: 7px;
	border: none;
}

#logo img {
	height: 70px;
	float: right;
}

#copyright {
	float: left;
	margin-left: 30px;
}

#copyright p {
	padding-top: 22px;
}

#zoneRight {
	float: right;
	width: auto;
	margin-right: 70px;
	padding-top: 10px;
}


.input_error{
	border-color: red;
}
.rating {
    float:left;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}

/* End Custom rating stars
-------------------------------------------------- */

#divDuration{
	width:200px;
}

#divExpertise{
	float: right;
	width: 170px;
}

#divSlider{
	
}

#divCookType{
	float: right;
	width: 170px;
}

#teachMe{
	
}

#slider{
	width:200px;
}

#formTeachMe{
	width: 100%;
}